                        /**** whole page ****/

body {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
}

h1 {
    margin-top: 0;
    font-family: 'Sarpanch', sans-serif;
    font-weight: 800;
}

h2, h3, h4 {
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

p {
    color: #999;
    font-size: 16px;
}

.button {
    font-family: 'Lato', sans-serif;
    background: #fcba03;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 100px;
    letter-spacing: 1px;
}

section {
    padding-top: 50px;
    background: white;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-item {
    padding: 20px;
    box-sizing: border-box;
}



                        /**** header ****/

header {
    height: 80px;
    width: 100%;
    background: white;
    box-shadow: 0 0 5px #555;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: .5s ease-in-out;
    overflow: hidden;
}

.logo {
    float: left;
    line-height: 85px;
    font-size: 60px;
    padding-left: 15px;
    color: #fcba03;
}

.logo-txt {
    float: left;
    font-family: 'Sarpanch', sans-serif;
    font-size: 32px;
    line-height: 80px;
    padding-left: 15px;
    color: #fcba03;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    font-size: 24px;
}

li {
    padding: 0 20px;
    line-height: 85px;
    cursor: pointer;
    transition: .3s;
}

li:hover {
    color: #fcba03;
}

.hamburger {
    float: right;
    padding: 0 20px;
    line-height: 85px;
    font-size: 24px;
    display: none;
}



                        /**** main ****/

main {
    display: flex;
    height: 100vh;
    background: url(assets/gaming.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-content {
    padding: 20px;
    margin: auto;
    text-align: center;
    color: white;
    z-index: 1;
}

main h1 {
    font-size: 80px;
    margin-bottom: 40px;
    line-height: 1.2;
}

.yellow {
    color: #fcba03;
}

main h2 {
    font-size: 28px;
    margin-bottom: 70px;
}



                        /**** features ****/

.icon {
    font-size: 64px;
    color: #fcba03;
    margin-bottom: 16px;
}

.features h3 {
    font-size: 24px;
}

.features p {
    line-height: 1.5;
}



                        /**** immerse ****/

.immerse .flex-item {
    text-align: center;
    width: 50%;
}

.immerse .flex-item:first-child {
    padding: 0;
}

.immerse h3 {
    font-size: 48px;
    margin-bottom: 16px;
}

.underline span {
    display: inline-block;
    height: 8px;
    width: 8px;
    background: #fcba03;
    border-radius: 50%;
    margin: 0 10px;
}

.immerse img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: right;
}

.immerse p {
    line-height: 1.7;
    margin-bottom: 50px;
}



                        /**** location ****/

.location {
    text-align: center;
    padding-bottom: 0;
}

.location h3 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
}

.location h4 {
    font-size: 20px;
    font-weight: 900;
    color: #fcba03;
    margin-bottom: 10px;
}

.location iframe {
    width: 100%;
    height: 500px;
    border: 0;
}




                        /**** footer ****/

footer {
    background: #333;
    color: white;
    margin-top: -5px;
    text-align: center;
}

.footer-top {
    padding: 30px;
}

footer h3 {
    font-size: 24px;
}

footer span {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

footer i {
    font-size: 32px;
    padding: 0 10px;
    transition: .3s;
    cursor: pointer;
}

footer i:hover {
    color: #fcba03;
}

.footer-bottom {
    height: 100px;
    line-height: 100px;
    background: #fcba03;
    font-size: 18px;
}

footer hr {
    margin-bottom: 25px;
    border-color: #fcba03;
}

footer input {
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    margin-bottom: 30px;
}




                        /**** media queries ****/

@media screen and (max-width:768px) {

    .flex-container {
        flex-flow: column wrap;
    }

    .immerse .flex-item {
        width: 100%;
    }

    .immerse img {
        height: 400px;
    }

    .hamburger {
        display: block;
    }

    ul {
        display: none;
    }
}
