                        /**** whole page ****/

body {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
}

h1 {
    margin-top: 0;
    font-family: 'Sarpanch', sans-serif;
    font-weight: 800;
}

h2, h3, h4 {
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

p {
    color: #999;
    font-size: 16px;
}

.button {
    font-family: 'Lato', sans-serif;
    background: #fcba03;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 100px;
    letter-spacing: 1px;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    background: white;
    clear: both;
}



                        /**** header ****/

header {
    height: 80px;
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: .5s ease-in-out;
    overflow: hidden;
}

.logo {
    float: left;
    line-height: 85px;
    font-size: 60px;
    padding-left: 15px;
    color: #fcba03;
}

.logo-txt {
    float: left;
    font-family: 'Sarpanch', sans-serif;
    font-size: 32px;
    line-height: 80px;
    padding-left: 15px;
    color: #fcba03;
}

nav {
    float: right;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    float: left;
    padding: 0 20px;
    line-height: 85px;
    font-size: 24px;
    cursor: pointer;
    transition: .3s;
}

li:hover {
    color: #fcba03;
}

.hamburger {
    float: right;
    padding: 0 20px;
    line-height: 85px;
    font-size: 24px;
    display: none;
}



                        /**** main ****/

main {
    height: 100vh;
    background: url(images/gaming.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-content {
    width: 100%;
    padding: 0 20%;
    margin: 0 auto;
    top: calc(50% - 180px);
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    color: white;
    z-index: 1;
}

main h1 {
    font-size: 80px;
    margin-bottom: 40px;
    line-height: 1.2;
}

.yellow {
    color: #fcba03;
}

main h2 {
    font-size: 28px;
    margin-bottom: 70px;
}



                        /**** features 1 ****/

.features1 {
    padding-bottom: 0;
}

.col-container {
    max-width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.col-4 {
    width: 25%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}

.icon {
    font-size: 64px;
    color: #fcba03;
    margin-bottom: 16px;
}

.features1 h3 {
    font-size: 24px;
}

.features1 p {
    line-height: 1.5;
}



                        /**** features 2 ****/

.features2 {
    height: 600px;
}

.col-2 {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.text-half {
    padding: 50px;
    text-align: center;
}

.features2 h3 {
    font-size: 48px;
    margin-bottom: 16px;
}

.underline span {
    display: inline-block;
    height: 8px;
    width: 8px;
    background: #fcba03;
    border-radius: 50%;
    margin: 0 10px;
}

.features2 img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: right;
}

.features2 p {
    line-height: 1.7;
    margin-bottom: 50px;
}



                        /**** location ****/

.location {
    text-align: center;
    padding-bottom: 0;
}

.location h3 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
}

.location h4 {
    font-size: 20px;
    font-weight: 900;
    color: #fcba03;
    margin-bottom: 10px;
}

.location iframe {
    width: 100%;
    height: 500px;
    border: 0;
}




                        /**** footer ****/

footer {
    background: #333;
    color: white;
    margin-top: -5px;
    text-align: center;
}

.footer-top {
    height: 250px;
}

.col-3 {
    width: 33.3%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}

footer h3 {
    font-size: 24px;
}

footer span {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

footer i {
    font-size: 32px;
    padding: 0 10px;
    transition: .3s;
    cursor: pointer;
}

footer i:hover {
    color: #fcba03;
}

.footer-bottom {
    height: 100px;
    line-height: 100px;
    background: #fcba03;
    font-size: 18px;
}

footer hr {
    margin-bottom: 25px;
    border-color: #fcba03;
}

footer input {
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    margin-bottom: 30px;
}




                        /**** media queries ****/

@media screen and (max-width:768px) {
    .col-2, .col-3, .col-4 {
        float: none;
        width: 100%;
    }
    
    .features2, .footer-top {
        height: initial;
    }
    
    .features2 img {
        height: 400px;
    }
    
    .hamburger {
        display: block;
    }
    
    nav {
        display: none;
    }
}